/*========================================================
 *   @file:          main.less
 *   @description:   глобальные стили для сайта Стратегия
 *   @author:        Alex Shamshin
 *   @contact:       shamshin.alexandr@gmail.com
 *   @date:          18.12.2016
=========================================================*/


/* ---------------------------------------------- /*
 * Eric Meyer's CSS Reset
/* ---------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}
ol,
ul
{
    list-style: none;
}
blockquote,
q
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}
/* font-family: "OSNOVAPRO.OTF"; */
@font-face
{
    font-family: 'OSNOVAPRO';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OSNOVAPRO.OTF');
}
/* font-family: "OSNOVAPROLIGHT.OTF"; */
@font-face
{
    font-family: 'OSNOVAPROLIGHT';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OSNOVAPROLIGHT.OTF');
}
/* font-family: "OSNOVAPROLIGHT-ITALIC.OTF"; */
@font-face
{
    font-family: 'OSNOVAPROLIGHT-ITALIC';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OSNOVAPROLIGHT-ITALIC.OTF');
}
/* font-family: "OSNOVAPROMEDIUM"; */
@font-face
{
    font-family: 'OSNOVAPROMEDIUM';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OSNOVAPROMEDIUM.OTF');
}
/* font-family: "OSNOVAPROMEDIUM-ITALIC.OTF"; */
@font-face
{
    font-family: 'OSNOVAPROMEDIUM-ITALIC';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/OSNOVAPROMEDIUM-ITALIC.OTF');
}
body
{
    font: 12px/18px OSNOVAPRO, sans-serif;

    width: 100%;
    a
    {
        text-decoration: none;
        &:hover
        {
            text-decoration: underline;
        }
    }
    b,
    strong
    {
        font-family: 'OsnovaProMedium';
    }
}
.wrapper
{
    overflow: hidden;

    max-width: 1440px;
    margin: 0 auto;

    background: url(../img/main_bg.jpg) 0 0 no-repeat;
    .center
    {
        text-align: center;
    }
    header.is_stuck
    {
        & + div
        {
            //height: 0 !important;
        }
    }
}

/* ---------------------------------------------- /*
 * HEADER
/* ---------------------------------------------- */
.header
{
    z-index: 10 !important;

    min-height: 100px;

    background-color: rgba(39, 39, 39, .87);
    @media (max-width: 990px)
    {
        position: relative !important;
    }
    .container
    {
        max-width: 1020px;
        margin: 0 auto;
    }
    .banner
    {
        margin-top: 20px;
        @media (max-width: 768px)
        {
            margin-top: 30px;

            text-align: center;
        }
    }
    ul.menu
    {
        padding-top: 10px;

        text-align: center;
        @media (max-width: 768px)
        {
            margin-top: 20px;
        }
        li
        {
            display: inline-block;

            margin: 0 10px;
            @media (max-width: 768px)
            {
                display: block;
            }
            a
            {
                font-family: 'OsnovaPro';
                font-size: 16px;
                font-weight: 400;

                color: #c3c4c4;
                @media (max-width: 768px)
                {
                    font-size: 28px;

                    display: block;

                    margin-bottom: 20px;
                }
            }
        }
    }
    button.yellow-small
    {
        font-family: 'OsnovaProMedium';
        font-size: 12px;
        font-weight: 400;

        position: relative;

        width: 144px;
        height: 32px;

        cursor: pointer;
        transition: all .2s;

        color: #7c691c;
        border: none;
        background-color: #ffce0c;
        &:hover
        {
            background-color: #ffdb4e;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
        &:focus
        {
            outline-style: none;
        }
        &:after
        {
            position: absolute;
            right: 0;
            bottom: 7px;
            left: 0;

            width: 100%;
            max-width: 75%;
            height: 1px;
            margin: 0 auto;

            content: '';

            border-bottom: 1px dotted #7c691c;
        }
    }
    .tel
    {
        padding-top: 10px;

        text-align: right;
        span
        {
            font-family: 'OsnovaPro';
            font-size: 18px;

            display: inline-block;

            margin-bottom: 10px;

            color: #fff;;
            strong
            {
                font-weight: 700;
            }
        }
        img
        {
            margin-right: 15px;

            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
        }
        @media (max-width: 990px)
        {
            margin-top: 30px;

            text-align: center;
        }
    }
}


/* ---------------------------------------------- /*
 * MIDDLE
/* ---------------------------------------------- */
.content
{
    .container
    {
        max-width: 1020px;
        margin: 0 auto;
    }
    button.yellow-big
    {
        font-family: 'OsnovaProMedium';
        font-size: 14px;
        font-weight: 400;

        position: relative;

        width: 100%;
        max-width: 290px;
        height: 60px;
        margin-top: 10px;

        cursor: pointer;
        transition: all .2s;
        text-transform: uppercase;

        color: #484848;
        border: none;
        background-color: #ffce0c;
        &:hover
        {
            background-color: #ffdb4e;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
        &:focus
        {
            outline-style: none;
        }
        &:after
        {
            position: absolute;
            right: 0;
            bottom: 18px;
            left: 0;

            width: 100%;
            max-width: 128px;
            height: 1px;
            margin: 0 auto;

            content: '';

            border-bottom: 1px dotted #7c691c;
        }
    }
    section.hello
    {
        min-height: 660px;
        @media (max-width: 768px)
        {
            background: gray;
        }
        .hello__ttl
        {
            font-family: 'OsnovaProMedium';
            font-size: 38px;
            font-weight: 400;
            line-height: 40px;

            margin-top: 120px;
            margin-bottom: 30px;

            color: #fff;
            span
            {
                color: #ffce0c;
            }
        }
        .hello__text
        {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;

            color: #fff;
        }
        .hello__form
        {
            max-width: 302px;
            min-height: 345px;
            margin: 0 auto;
            margin-top: 150px;
            padding: 20px 30px;

            text-align: center;

            opacity: .98;
            background-color: #fff;
            p
            {
                font-family: 'OsnovaPro';
                font-size: 18px;
                font-weight: 400;
                line-height: 23px;

                color: #484848;
                &.sub-form
                {
                    font-family: 'OsnovaProMedium';
                    font-size: 14px;
                    line-height: 18px;

                    color: #7b7b7b;
                }
            }
            form
            {
                margin: 25px 0;
                input[type='email'].styler,
                input[type='password'].styler,
                input[type='search'].styler,
                input[type='tel'].styler,
                input[type='text'].styler,
                input[type='url'].styler,
                textarea.styler
                {
                    font: 14px Arial, sans-serif;
                    font-family: 'OsnovaPro';
                    font-size: 14px;

                    width: 100%;
                    max-width: 260px;
                    margin-bottom: 8px;
                    padding: 21px 13px;

                    color: #8b8878;
                    border: 1px solid #ece7d2;
                    border-bottom-color: #ece7d2;
                    border-radius: 0;
                    background-color: #f5f3e9;
                    box-shadow: none;
                    @media (max-width: 380px)
                    {
                        max-width: 202px;
                    }
                }
            }
        }
    }
    section.test
    {
        min-height: 840px;
        padding-bottom: 100px;

        background-color: #efefef;
        #alternative,
        #bankrotstvo,
        #liquidation,
        .question2
        {
            display: none;
        }
        .question1
        {
            .answer
            {
                max-width: 450px;
                margin: 0 auto;
            }
        }
        .question2
        {
            padding: 0 15px 0 15px!important;
        }
        .answer
        {
            label
            {
                font-family: 'OsnovaPro';
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;

                color: #484848;
            }
            .answer_text
            {
                font-family: 'OsnovaProLight';
                font-size: 30px;
                font-weight: 400;

                margin-top: 25px;
                margin-bottom: 30px;

                text-align: center;

                color: #484848;
            }
            button
            {
                margin-top: 30px;
                &:after
                {
                    display: none;
                }
                img
                {
                    position: relative;
                    top: 1px;

                    margin-left: 5px;
                }
            }
            .line-h-yellow
            {
                margin-bottom: 40px !important;
            }
        }
        .ques
        {
            font-family: 'OsnovaProMedium';
            font-size: 16px;
            font-weight: 400;

            display: inline-block;

            margin-top: 50px;
            padding: 11px 23px;

            color: #a1a1a1;
            border: 1px solid #d9d5d5;
            -webkit-border-radius: 20px;
               -moz-border-radius: 20px;
                    border-radius: 20px;
        }
        .radio
        {
            width: 17px;
            height: 17px;
            margin: 0 3px 0 0;

            vertical-align: top;
        }
        .radio + label
        {
            cursor: pointer;
        }
        .radio:not(checked)
        {
            position: absolute;

            opacity: 0;
        }
        .radio:not(checked) + label
        {
            position: relative;

            padding: 0 0 0 35px;
        }
        .radio:not(checked) + label:before
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 26px;
            height: 26px;

            content: '';

            border-radius: 50%;
            background-color: #e6e6e6;
        }
        .radio:not(checked) + label:after
        {
            position: absolute;
            top: 5px;
            left: 5px;

            width: 16px;
            height: 16px;

            content: '';
            transition: all .2s;

            opacity: 0;
            border-radius: 50%;
            background: #fff;
        }
        .radio:checked + label:after
        {
            opacity: 1;
        }
        .radio:checked + label:before
        {
            background-color: #ffce0c;
        }
        .test__ttl p
        {
            font-family: 'OsnovaProLight';
            font-size: 38px;
            font-weight: 400;
            line-height: 45px;

            padding-top: 120px;
            padding-bottom: 50px;

            text-align: center;

            color: #484848;;
            a
            {
                font-family: 'OsnovaProMedium';
                font-style: italic;

                color: #eec10f;
                border-bottom: 1px dotted;
                &:hover
                {
                    text-decoration: none;

                    border: none;
                }
            }
        }
        .test__liquid
        {
            min-height: 440px;
            padding: 0 50px;

            -webkit-transition: 300ms;
                    transition: all .2s;
            -webkit-transition-duration: 300ms;
                    transition-duration: all .2s;
            text-align: center;

            background: #fff url(../img/alt_liquid.png) -67px -46px no-repeat;
            -webkit-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
               -moz-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
            .line-h-yellow
            {
                width: 161px;
                height: 1px;
                margin: 0 auto;
                margin-bottom: 30px;

                background-color: #ffce0c;
            }
            h3
            {
                font-family: 'OsnovaProLight';
                font-size: 30px;
                font-weight: 400;
                line-height: 40px;

                padding-top: 40px;
                padding-bottom: 20px;

                color: #484848;
            }
            p
            {
                font-family: 'OsnovaProMedium';
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                max-width: 600px;
                margin: 0 auto;
                margin-bottom: 15px;

                text-align: left;

                color: #7b7b7b;
            }
            button
            {
                &:after
                {
                    max-width: 188px;
                }
            }
        }
    }
    .center
    {
        text-align: center;
    }
    section.tabs
    {
        .tabs-wrap.is_stuck
        {
            & + div
            {
                //display: none !important;
            }
        }
        .tabs-wrap
        {
            position: relative;
            z-index: 9;

            min-height: 71px;

            background-color: rgba(255, 255, 255, .86);
            -webkit-box-shadow: 0 11px 21px rgba(196, 196, 196, .23);
               -moz-box-shadow: 0 11px 21px rgba(196, 196, 196, .23);
                    box-shadow: 0 11px 21px rgba(196, 196, 196, .23);
            @media (max-width: 990px)
            {
                position: relative !important;
                top: auto !important;
            }
            .tabs-menu
            {
                padding-top: 25px;
                .current
                {
                    a
                    {
                        color: #edc527;
                    }
                }
                li
                {
                    position: relative;

                    text-align: center;;
                    a
                    {
                        font-family: 'OsnovaProMedium';
                        font-size: 18px;
                        font-weight: 400;

                        text-decoration: none;
                        text-transform: uppercase;
                        text-transform: uppercase;

                        color: #484848;
                        border-bottom: 1px dotted;
                        &:hover
                        {
                            border: none;
                        }
                    }
                }
            }
        }
        .tab
        {
            background-color: #efefef;
            .tab-content
            {
                display: none;

                padding: 100px 0 50px 0;
                @media (max-width: 990px)
                {
                    padding: 50px 20px;
                }
                h1.tab_item-ttl
                {
                    font-family: 'OsnovaProLight';
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 40px;

                    color: #494949;
                }
                .tab_item-ttl-list
                {
                    margin-top: 40px;
                    li
                    {
                        font-family: 'OsnovaPro';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24px;

                        margin-bottom: 10px;
                        padding-left: 40px;

                        color: #7b7b7b;
                        background: url(../img/icon-mark.png) left 4px no-repeat;
                    }
                }
                .tab_item-form
                {
                    max-width: 300px;
                    min-height: 300px;
                    margin: 0 auto;
                    padding: 50px;

                    background-color: #fff;
                    -webkit-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
                       -moz-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
                            box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
                    p
                    {
                        font-family: 'OsnovaPro';
                        font-size: 22px;
                        line-height: 24px;

                        color: #7b7b7b;
                        span
                        {
                            font-family: 'OsnovaProMedium';
                            font-size: 36px;
                            line-height: 40px;

                            color: #484848;
                            i
                            {
                                font-size: 28px;
                            }
                        }
                    }
                    .h-line-yellow
                    {
                        width: 180px;
                        height: 1px;
                        margin: 15px 0;

                        background-color: #edc527;
                    }
                    .info
                    {
                        font-family: 'OsnovaPro';
                        font-size: 14px;
                        font-weight: 400;

                        display: block;

                        margin-top: 10px;

                        color: #7b7b7b;
                    }
                    button.yellow-big
                    {
                        margin-top: 45px;
                    }
                }
                p.tab_item-text
                {
                    font-family: 'OsnovaProLight';
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 30px;

                    margin-top: 80px;
                    margin-bottom: 50px;

                    color: #494949;
                }
                .media-item
                {
                    p
                    {
                        font-family: 'OsnovaPro';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26px;

                        margin-top: 15px;
                        padding: 0 6%;

                        color: #7b7b7b;
                    }
                }
                button.yellow-big.color
                {
                    margin: 50px 0;
                    &:after
                    {
                        max-width: 150px;
                    }
                }
            }
            #loff
            {
                button.yellow-big.color
                {
                    margin: 30px;
                    &:after
                    {
                        max-width: 230px;
                    }
                }
            }
        }
    }
    #bankrot
    {
        display: block;

        background: url(../img/dolg_bg.png) right -180px no-repeat;
    }
    #loff
    {
        background: url(../img/liquid_bg.png) right -180px no-repeat;
    }
    #lalt
    {
        background: url(../img/clean_firm_bg.png) 360px 0 no-repeat;
    }
    section.strategy
    {
        text-align: center;

        background: #18191b url(../img/strategy_bg.jpg) left 0 no-repeat;
        .container
        {
            min-height: 760px;
            h1
            {
                font-family: 'OsnovaProLight';
                font-size: 38px;
                font-weight: 400;
                line-height: 45px;

                margin-top: 160px;
                margin-bottom: 65px;

                color: #fff;
            }
            .media-item.center
            {
                p
                {
                    font-family: OsnovaPro;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;

                    margin-top: 15px;
                    padding: 0 6%;

                    color: #fff;
                }
            }
        }
        .slider
        {
            background: #fff;
            &:hover
            {
                cursor: pointer;
            }
            .slick-prev
            {
                z-index: 9;
                left: 25px;

                width: 31px;
                height: 50px;

                opacity: .5;
                background: url(../img/arrow-left.png) no-repeat;
                &:before
                {
                    display: none;
                }
                &:hover
                {
                    opacity: 1;
                }
            }
            .slick-next
            {
                z-index: 9;
                right: 25px;

                width: 31px;
                height: 55px;

                opacity: .5;
                background: url(../img/arrow-right.png) no-repeat;
                &:before
                {
                    display: none;
                }
                &:hover
                {
                    opacity: 1;
                }
            }
        }
    }
    section.close__company
    {
        min-height: 700px;

        text-align: center;

        background: #efefef url(../img/close_firm_bg.png) right top no-repeat;
        p.close__company-ttl
        {
            font-family: 'OsnovaProLight';
            font-size: 38px;
            font-weight: 400;
            line-height: 45px;

            margin-top: 100px;
            padding: 0 10%;

            color: #494949;
            span
            {
                font-family: 'OsnovaProMedium';
                font-style: italic;

                color: #eec10f;
            }
        }
        .close__company-form
        {
            max-width: 665px;
            min-height: 420px;
            margin: 0 auto;
            margin-top: 30px;
            padding: 30px 50px 10px 50px;

            background-color: #fff;
            -webkit-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
               -moz-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
                    box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
            @media (max-width: 768px)
            {
                padding: 35px;
            }
            p
            {
                font-family: 'OsnovaProMedium';
                font-size: 26px;
                font-weight: 400;
                line-height: 30px;

                margin-bottom: 30px;

                color: #494949;
                & + p
                {
                    font-family: 'OsnovaPro';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;

                    color: #7b7b7b;
                }
            }
            form
            {
                max-width: 290px;
                margin: 25px 0;
                margin: 0 auto;
                input[type='email'].styler,
                input[type='password'].styler,
                input[type='search'].styler,
                input[type='tel'].styler,
                input[type='text'].styler,
                input[type='url'].styler,
                textarea.styler
                {
                    font: 14px Arial, sans-serif;
                    font-family: 'OsnovaPro';
                    font-size: 14px;

                    width: 100%;
                    max-width: 290px;
                    max-width: 262px;
                    margin-bottom: 8px;
                    padding: 21px 13px;

                    color: #8b8878;
                    border: 1px solid #ece7d2;
                    border-bottom-color: #ece7d2;
                    border-radius: 0;
                    background-color: #f5f3e9;
                    box-shadow: none;
                    @media (max-width: 380px)
                    {
                        max-width: 220px;
                    }
                }
            }
            .sub-form
            {
                font-size: 14px;

                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
    section.faq
    {
        padding-top: 100px;
        padding-bottom: 50px;

        background: #efefef;
        .faq__ttl.center
        {
            font-family: 'OsnovaProLight';
            font-size: 38px;
            font-weight: 400;
            line-height: 40px;

            margin-bottom: 43px;

            color: #494949;
        }
        ul.accordion
        {
            max-width: 700px;
            margin: 0 auto;
            padding-left: 61px;
            .hidden
            {
                display: none;
            }
            li
            {
                position: relative;

                padding-bottom: 41px;
                a
                {
                    font-family: 'OsnovaProLight';
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 31px;

                    position: relative;

                    color: #494949;
                    border-bottom: 1px dotted;
                    &:hover
                    {
                        text-decoration: none;

                        border: none;
                    }
                    &:before
                    {
                        position: absolute;
                        top: 6px;
                        left: -54px;

                        display: block;

                        width: 37px;
                        height: 37px;

                        content: '';

                        background: url('../img/accord_open.png') no-repeat;
                    }
                    &.current
                    {
                        &:before
                        {
                            background: url('../img/accord_close.png') no-repeat;
                        }
                    }
                }
                ul
                {
                    margin-top: 17px;
                    li
                    {
                        font-family: 'OsnovaPro';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 23px;

                        padding-bottom: 0;

                        color: #7b7b7b;
                    }
                }
            }
        }
        .more
        {
            position: relative;
            z-index: 2;

            max-width: 700px;
            margin: 0 auto;
            margin-top: 39px;
            margin-bottom: 40px;
            padding-right: 25px;
            padding-left: 25px;
            &:after
            {
                position: absolute;
                z-index: 0;
                top: 25px;
                right: 0;
                left: 0;

                width: 100%;
                height: 1px;

                content: '';

                background: #ddd;
            }
            a
            {
                font-family: 'OsnovaProMedium';
                font-size: 14px;
                font-weight: 400;

                position: relative;
                z-index: 2;

                text-transform: uppercase;

                color: #a0a0a0;
                img
                {
                    margin-bottom: 16px;
                }
            }
        }
    }
    section.contacts
    {
        padding-top: 0;

        background: #efefef;
        .wow.col
        {
            @media (max-width: 768px)
            {
                max-width: none;
                max-height: none;
                margin: 50px;
            }
        }
        .grid-middle
        {
            background: #fff;
        }
        .contacts__info
        {
            max-width: 443px;
            margin: 0 auto;
            padding: 45px 0 50px 0;
            @media (max-width: 768px)
            {
                padding: 30px;
            }
            img
            {
                position: relative;

                margin-top: -2px;
                margin-right: 16px;

                vertical-align: middle;
            }
            .contacts__info-ttl
            {
                font-family: 'OsnovaProLight';
                font-size: 26px;
                font-weight: 400;
                line-height: 30px;

                color: #494949;
            }
            .contacts__info-park
            {
                font-family: 'OsnovaProLight';
                font-size: 26px;
                font-weight: 400;
                line-height: 30px;

                margin-top: 24px;

                color: #494949;
            }
            .contacts__info-addres
            {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;

                margin-top: 11px;
                margin-bottom: 1px;

                color: #7b7b7b;
            }
            .contacts__info-park-text
            {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;

                margin-top: 22px;
                margin-bottom: 1px;

                color: #7b7b7b;
            }
            .contacts__info-time
            {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;

                margin-top: 0;
                margin-bottom: 1px;

                color: #7b7b7b;
            }
            .video-way
            {
                font-size: 16px;
                font-weight: 400;

                display: inline-block;

                margin-top: 10px;
                margin-bottom: 10px;

                color: #494949;
                border-bottom: 1px dotted;;
                &:hover
                {
                    text-decoration: none;
                }
            }
            .contacts__info-tel
            {
                font-family: 'OsnovaProLight';
                font-size: 34px;
                font-weight: 400;
                line-height: 40px;

                margin-top: 35px;
                margin-bottom: 18px;

                color: #494949;
            }
            .contacts__info-notime
            {
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;

                margin-top: 38px;
                margin-bottom: 8px;

                color: #494949;
                span
                {
                    color: #7b7b7b;
                }
            }
        }
    }
    section.calculator
    {
        min-height: 800px;

        background: url(../img/cost_bg.jpg) no-repeat;
        .calculator__form
        {
            max-width: 325px;
            min-height: 284px;
            margin: 0 auto;
            padding: 38px 80px 50px 80px;

            background-color: #fff;
            -webkit-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
               -moz-box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
                    box-shadow: 0 22px 79px rgba(196, 196, 196, .23);
            @media (max-width: 768px)
            {
                padding: 15px;
            }
            button
            {
                max-width: 320px;
                @media (max-width: 380px)
                {
                    max-width: 268px;
                }
                &:after
                {
                    max-width: 85px;
                }
            }
            .jq-selectbox
            {
                display: block !important;

                margin-top: 46px;

                cursor: pointer;
                vertical-align: middle;
            }
            .jq-selectbox__trigger-arrow
            {
                position: absolute;
                top: 14px;
                right: 12px;

                width: 28px;
                height: 28px;

                -webkit-transition: all .2s;
                   -moz-transition: all .2s;
                        transition: all .2s;

                border: 0;
                background: url(../img/select_open.png) no-repeat;
            }
            .jq-selectbox__trigger
            {
                border-left: 0;
            }
            .jq-selectbox__dropdown
            {
                max-width: 319px;
                margin-left: 14px;
            }
            .jq-selectbox li:hover
            {
                color: #fff;
                background-color: #ffce0c;
            }
            .jq-selectbox.opened
            {
                .jq-selectbox__trigger-arrow
                {
                    -webkit-transform: rotate(180deg);
                       -moz-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
            }
            .jq-selectbox__select
            {
                font: 14px Arial,sans-serif;
                font-family: OsnovaPro;
                font-size: 14px;

                width: 100%;
                max-width: 290px;
                height: auto;
                margin: 0 auto;
                margin-bottom: 8px;
                padding: 21px 13px;

                text-align: left;

                color: #8b8878;
                border: 1px solid #ece7d2;
                border-bottom-color: #ece7d2;
                border-radius: 0;
                background: #f5f3e9;
                background-color: #f5f3e9;
                box-shadow: none;
                text-shadow: none;
                @media (max-width: 380px)
                {
                    max-width: 240px;
                }
            }
            input[type='email'].styler,
            input[type='password'].styler,
            input[type='search'].styler,
            input[type='tel'].styler,
            input[type='text'].styler,
            input[type='url'].styler,
            textarea.styler
            {
                font: 14px Arial, sans-serif;
                font-family: 'OsnovaPro';
                font-size: 14px;

                width: 100%;
                max-width: 290px;
                margin-bottom: 8px;
                padding: 21px 13px;

                color: #8b8878;
                border: 1px solid #ece7d2;
                border-bottom-color: #ece7d2;
                border-radius: 0;
                background-color: #f5f3e9;
                box-shadow: none;
                @media (max-width: 380px)
                {
                    max-width: 240px;
                }
            }
            span
            {
                font-family: 'OsnovaPro';
                font-size: 20px;
                font-weight: 400;

                display: inline-block;

                color: #484848;
            }
        }
        .calculator__ttl
        {
            font-family: 'OsnovaProLight';
            font-size: 38px;
            font-weight: 400;
            line-height: 45px;

            max-width: 606px;
            margin: 0 auto;
            margin-top: 110px;
            margin-bottom: 45px;

            color: #fff;
        }
        .switcher
        {
            display: block;

            margin-bottom: 24px;

            text-align: left;
            input
            {
                display: none;
            }
        }
        //switch buttons
        .switch
        {
            position: relative;
            z-index: 0;

            display: inline-block;
            float: right;

            width: 62px;
            margin: 0;
            padding: 0;

            cursor: pointer;
            vertical-align: middle;

            border: none;
            -webkit-border-radius: 13px;
               -moz-border-radius: 13px;
            background-color: #dfdfdf;

            appearance: none;
            &:before
            {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 1px;

                width: 62px;
                height: 26px;

                content: ' ';

                -moz-border-radius: 13px;
                     border-radius: 13px;
                background-color: #dfdfdf;
            }
            &:after
            {
                position: absolute;
                z-index: 2;
                top: 2px;
                left: 4px;

                width: 22px;
                height: 22px;

                content: ' ';
                -webkit-transition-duration: 300ms;
                        transition-duration: 300ms;

                border-radius: 28px;
                background-color: #414141;
            }
        }
        .switchOn,
        .switchOn:before
        {
            width: 62px;
            height: 26px;

            border-radius: 13px;
            background-color: #ffce0c;
        }
        .switchOn:after
        {
            left: 38px!important;

            background: #fff;
        }
    }
}




/* Footer
-----------------------------------------------------------------------------*/
.footer
{
    height: 180px;
    .center
    {
        text-align: center;
    }
    p
    {
        font-family: 'OsnovaPro';
        font-size: 14px;
        font-weight: 400;

        color: #7b7b7b;
    }
    .grid
    {
        padding-top: 35px;
    }
}


/* ---------------------------------------------- /*
 * MODAL
/* ---------------------------------------------- */
.remodal
{
    video
    {
        width: 100%;
        padding-top: 50px;
    }
    p
    {
        font-family: 'OsnovaProMedium';
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;

        color: #494949;
        & + p
        {
            font-family: 'OsnovaPro';
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;

            margin-top: 30px;
            margin-bottom: 35px;

            color: #7b7b7b;
        }
    }
    .sub-form
    {
        font-family: 'OsnovaProMedium';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

        color: #7b7b7b;
    }
    form
    {
        margin: 25px 0;
        input[type='email'].styler,
        input[type='password'].styler,
        input[type='search'].styler,
        input[type='tel'].styler,
        input[type='text'].styler,
        input[type='url'].styler,
        textarea.styler
        {
            font: 14px Arial, sans-serif;
            font-family: 'OsnovaPro';
            font-size: 14px;

            width: 100%;
            max-width: 290px;
            margin-bottom: 8px;
            padding: 21px 13px;

            color: #8b8878;
            border: 1px solid #ece7d2;
            border-bottom-color: #ece7d2;
            border-radius: 0;
            background-color: #f5f3e9;
            box-shadow: none;
            @media (max-width: 380px)
            {
                max-width: 200px;
            }
        }
    }
    button.yellow-big
    {
        font-family: 'OsnovaProMedium';
        font-size: 14px;
        font-weight: 400;

        position: relative;

        width: 100%;
        max-width: 320px;
        height: 60px;
        margin-top: 10px;

        cursor: pointer;
        transition: all .2s;
        text-transform: uppercase;

        color: #484848;
        border: none;
        background-color: #ffce0c;
        &:hover
        {
            background: #ffdb4e;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
        &:focus
        {
            outline-style: none;
        }
        &:after
        {
            position: absolute;
            right: 0;
            bottom: 18px;
            left: 0;

            width: 100%;
            max-width: 128px;
            height: 1px;
            margin: 0 auto;

            content: '';

            border-bottom: 1px dotted #7c691c;
        }
    }
}
.modal_consalt
{
    form
    {
        button
        {
            &:after
            {
                max-width: 200px !important;
            }
        }
    }
}
.ajax
{
    font-size: 16px;

    margin-bottom: 15px;
}
.spasibo
{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    background: #4c5858 url(../img/fade.jpg) center no-repeat;
    .container
    {
        display: -webkit-box;
        display:    -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:         flex;

        height: 100%;
        padding: 7px;

        justify-content: center;
        align-items: center;
    }
    a.yellow-big
    {
        font-family: 'OsnovaProMedium';
        font-size: 14px;
        font-weight: 400;

        position: relative;

        width: 100%;
        max-width: 290px;
        height: 60px;
        line-height: 60px;
        margin-top: 10px;

        cursor: pointer;
        transition: all .2s;
        text-transform: uppercase;

        color: #484848;
        border: none;
        background-color: #ffce0c;
        margin-left: 5px;
        margin-right: 5px;
        &:hover
        {
            background-color: #ffdb4e;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
        }
        &:focus
        {
            outline-style: none;
        }
        @media (max-width: 320px)
        {
            max-width: 280px;
        }
    }
    a
    {
        font-family: 'OsnovaProMedium';
        font-size: 14px;
        font-weight: 400;
        line-height: 52px;

        position: relative;

        display: inline-block;

        width: 100%;
        max-width: 280px;
        height: 52px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;

        cursor: pointer;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        border: 4px solid #ffce0c;
        &:hover
        {
            text-decoration: none;

            background: #ffce0c;
        }
        @media (max-width: 380px)
        {
            max-width: 272px;
        }
    }
    h1
    {
        font-family: 'OsnovaProMedium';
        font-size: 38px;
        font-weight: 400;
        line-height: 45px;

        margin-top: 25px;

        text-align: center;

        color: #fff;
        @media (max-width: 640px)
        {
            font-size: 22px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 10px;

        margin-top: 10px;
        }
        span
        {
            color: #ffce0c;
        }
    }
    p
    {
        font-family: 'OsnovaPro';
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;

        max-width: 600px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;

        text-align: center;

        color: #fff;
        @media (max-width: 640px)
        {
            margin: 0px !important;
            margin-bottom: 10px !important;
        }
    }
}


.spasibo p
{
    font-family: OsnovaPro;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;

    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;

    text-align: center;

    color: #fff;
}
